h1 {
    text-align: center;
    color: #555;
    margin-bottom: 2rem;
}
ol {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li {
        margin: 5px;
        a {
            padding: 10px;
            display: block;
            color:white;
            font-weight: bold;
            text-decoration: none;
            background-color: $mainColor;
            &:hover {
                background-color: $mainColorHover;
            }
            &:visited {
                background-color: $mainColorVisited;
            }
        }
    }
}
